<% if @unauthorized_verifications.any? %>
  <div class="card card--list">
    <div class="row column authorizations-list">
      <div class="card card--nomargin card--list">
        <% @unauthorized_verifications.each do |unauthorized_method| %>
          <%= link_to unauthorized_method.root_path do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "lock-unlocked", class: "card--list__icon" %>
                <div>
                  <h5 class="card--list__heading">
                    <%= t("#{unauthorized_method.key}.name", scope: "decidim.authorization_handlers") %>
                  </h5>
                  <span class="text-small">
                    <%= t("#{unauthorized_method.key}.explanation", scope: "decidim.authorization_handlers") %>
                  </span>
                </div>
              </div>
              <div class="card--list__data">
                <span class="card--list__data__icon">
                  <%= icon "chevron-right", aria_hidden: true, role: "img" %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @pending_authorizations.any? %>
  <div class="text-center">
    <h2><%= t(".pending_authorizations") %></h2>
    <p><%= t(".pending_authorizations_explanation") %></p>
  </div>
  <div class="card card--list">
    <div class="row column authorizations-list">
      <div class="card card--nomargin card--list">
        <% @pending_authorizations.each do |authorization| %>
          <% authorization_method = Decidim::Verifications::Adapter.from_element(authorization.name) %>
          <%= link_to authorization_method.resume_authorization_path do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "reload", class: "card--list__icon" %>
                <div>
                  <h5 class="card--list__heading">
                    <%= t("#{authorization.name}.name", scope: "decidim.authorization_handlers") %>
                  </h5>
                  <span class="text-small">
                    <%= t("started_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.updated_at, format: :long)) %>
                  </span>
                </div>
              </div>
              <div class="card--list__data">
                <span class="card--list__data__icon">
                  <%= icon "chevron-right", aria_hidden: true, role: "img" %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
